.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    background-color: #e3d5c1;
    box-shadow: 31px -15px 21px 2px #857f7133;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 100px;
    padding: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
  }

  &__title {
    color: #2e2619;
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
}
