.promo {
  background: linear-gradient(
    225deg,
    rgb(229, 216, 192),
    rgb(228, 238, 238) 59%
  );

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 20px;
  }
}
