.promo {
  background: linear-gradient(
    225deg,
    rgb(229, 216, 192),
    rgb(228, 238, 238) 59%
  );

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    @media (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (min-width: 800px) {
      gap: 40px;
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 30px;

    @media (min-width: 768px) {
        margin-top: 50px;
      }

    @media (min-width: 800px) {
      margin: auto;
    }
}
}