.reviews-list {
  max-width: 100%;
  position: relative;
  margin: auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 1200px) {
      flex-direction: column;
    }

    img {
      border-radius: 40%;
    }
  }

  &__item {
    animation-name: fade;
    animation-duration: 1.5s;
    padding: 12px;
    width: 100%;
  }

  &__name {
    font-size: 14px;
    margin-left: 30px;

    @media (min-width: 1200px) {
      margin: 20px 0 0;
    }
  }

  &__text {
    font-size: 15px;
    line-height: calc(16 / 15);
    margin: 0;
    margin-top: 30px;
    padding: 10px;

    @media (min-width: 768px) {
      font-size: 18px;
      padding: 30px;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
