.slider {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    position: relative;

  &__button {
    background-color: #696565;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 6px 5px 4px 5px;
    transition: 0.6s ease;
    width: auto;
  }

  &__right:hover,
  &__left:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
