html,
body {
  background-color: #ebebf1;
  color: #001f3a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
}

img {
    max-width: 100%;
    height: auto;
  }
